body {
  height: 100vh; 
}

.page-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  
  .action-block {
    width: 100%;
  }
}


.signup-block {
  max-width: 350px;
  margin: 0 auto;

  // cure for collapsing margin 
  &::before {
    clear: both;
    content: "";
    display: table;
    height: 0;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px auto;
  }
}

.signup-title {
  font-size: 27px;
  line-height: 32px;
}

.signup-caller {
  font-size: 20px;
  line-height: 25px;
  margin-top: 48px;
}
