@import "../2-helpers/_variables";

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 20px 60px;
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease;

  &:hover,
  &:active,
  &:focus{

    outline: 0;
    transform: scale(1.01);
    transform: translateY(3px);
  }
}



.btn {
  display: inline-block;
  cursor: pointer;
  border: 1px solid $mainColor;
  padding: 6px 16px;
  border-radius: 100px;
  font-weight: bold;
  text-align: center;
}

// 100% width
.btn-action {
  display: block;
  margin-bottom: 16px;
}


.btn-empty {
  background: transparent;
}

.btn-filled {
  background: $mainColor;
  color: #ffffff;
}

.btn-filled:hover {
  opacity: 1;
  background: darken($mainColor, 20%);
  color: #ffffff;
}

// TODO: kolor brazowy podpiąc pod zmienną scss
.btn-empty:hover {
  background: lighten($mainColor, 20%);
  color: $mainColor;
}

